@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --midground: #24337E;
  --button-color: #A82E41;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
